.table-container {
  overflow-x: auto;
}

.header {
  margin-bottom: 50px;
}

h1, h3 {
  text-align: center;
}

a {
  color: red;
}

table {
  width: 800px;
  margin: auto;
}

td, th {
  text-align: left;
  vertical-align: top;
  padding: 10px;
}
